###################
## Folders                  ##
##############################
.settings
target
 
##############################
## Eclipse conf             ##
##############################
.classpath
.project